$font-main: "Share Tech Mono";
$font-second: "Urbanist";
$back-color: #000;
$primary-color: #3c23cd;
$card-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);
$head: #83FF49;
$tail: #952CFF;
$yellow: #FFC42C;

* {
    font-family: $font-main;
}
